In [ ]:
4+4

8

In [ ]:
a=10
b=30
c=40

In [ ]:
a %=3
a

1

In [ ]:
print(a,b,c)

1 30 40

In [ ]:
print(a,b,c, sep='\n')

1
30
40

In [ ]:
7>2

True

In [ ]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
len(kwlist)

35

In [ ]:
7>4 and 8<7

False

In [ ]:
7<4 or 3>4 or 6<3 or not (7<10 and 8<18)

False

In [ ]:
d=5
e=8
f=2

In [ ]:
print(d & e)
print(d | e)
print(d ^ e)
print(d >>1)
print(d <<1)

0
13
13
2
10

In [ ]:
's' in 'Piyush Sanam'

True

In [ ]:
a=1
a1=2
a2=1

In [ ]:
id(a),id(a1),id(a2)

(2399134679280, 2399134679312, 2399134679280)

In [ ]:
a=10,20

In [ ]:
type(a)

tuple

In [ ]:
print(4,5,6,8,9)

4 5 6 8 9

In [ ]:
print(24,56,7,54, sep='_')

24_56_7_54

In [ ]:
print(4,45,6,4,3)
print(4,45,6,4,3)

4 45 6 4 3
4 45 6 4 3

In [1]:
y = input('Enter any thing')

In [2]:
#

NameError: name 'h' is not defined

In [3]:
#Mutability

In [4]:
s= 'hello,this is a new process'

In [5]:
print(s)

hello,this is a new process

In [6]:
len(s)

27

In [7]:
type(s)

str

In [8]:
s[0]

'h'

In [9]:
#Slicing- [begin:end(exclusion):step size]
#default 
#   [ : : .....] step-size=+1
#   [... : x: y] begun +0n(ss->)
s[0:5:1]

'hello'

In [10]:
s[-7:28:1]

'process'

In [11]:
s[-1:-8:-1]

'ssecorp'

In [13]:
s

'hello,this is a new process'

In [17]:
s[-23:-28:-1]

'olleh'

In [21]:
s[10:5:-1]

' siht'

In [23]:
#begin step become last index  according to step
s[:-8:-1]

'ssecorp'

In [24]:
s[4::-1]

'olleh'

In [25]:
s[::-1]

'ssecorp wen a si siht,olleh'

In [26]:
"hi"*10

'hihihihihihihihihihi'

In [40]:
s='hello,this is a new process'

In [30]:
s+= ' here'

In [41]:
s

'hello,this is a new process'

In [42]:
s = s[:5] +' Ayush'+ s[5:]

In [43]:
s

'hello Ayush,this is a new process'

In [47]:
#TypeError: 'str' object does not support item assignment
s[0]='hii'

TypeError: 'str' object does not support item assignment

In [48]:
#TypeError: 'str' object doesn't support item deletion
del s[0]

TypeError: 'str' object doesn't support item deletion

In [56]:
a=[75,34,'43',5,[432,34]]

In [54]:
print(a)
print(len(a))
type(a)

[75, 34, 43, 5, [432, 34]]
5

list

In [55]:
a[-1]

[432, 34]

In [58]:
a[2]

'43'

In [59]:
a[2][-1]

'3'

In [60]:
[5,67,3]*2

[5, 67, 3, 5, 67, 3]

In [61]:
[4,56,7,6]+['hi',20]

[4, 56, 7, 6, 'hi', 20]

In [62]:
a+=[356456]

In [63]:
a[0]=5

In [64]:
a

[5, 34, '43', 5, [432, 34], 356456]

In [65]:
del a[2]

In [66]:
a

[5, 34, 5, [432, 34], 356456]

In [67]:
a=(34,453,54,2)

In [68]:
a[0:]

(34, 453, 54, 2)

In [69]:
a[0]

34

In [70]:
a[0]=6

TypeError: 'tuple' object does not support item assignment

In [71]:
del a[1]

TypeError: 'tuple' object doesn't support item deletion

In [72]:
print(type(a))

<class 'tuple'>

In [73]:
a+(456)

TypeError: can only concatenate tuple (not "int") to tuple

In [1]:
b=[4,46,3,6,86,56,9]
b

[4, 46, 3, 6, 86, 56, 9]

In [3]:
b+= {'a1':4,'b1':5}
b

[4, 46, 3, 6, 86, 56, 9, 'a1', 'b1']

In [4]:
d = {'a1':4,'b1':5}
print(d)
print(len(d))
print(type(d))

{'a1': 4, 'b1': 5}
2
<class 'dict'>

In [5]:
d['c1'] =[9,2,5,7]
d

{'a1': 4, 'b1': 5, 'c1': [9, 2, 5, 7]}

In [6]:
d['b1'] = 'hii'
d

{'a1': 4, 'b1': 'hii', 'c1': [9, 2, 5, 7]}

In [7]:
del d['a1']
d

{'b1': 'hii', 'c1': [9, 2, 5, 7]}

In [9]:
s = {4,643,35,565,35,4}
s

{4, 35, 565, 643}

In [10]:
print(len(s))
print(type(s))

4
<class 'set'>

In [11]:
s[0]

TypeError: 'set' object is not subscriptable

In [12]:
s[0:]

TypeError: 'set' object is not subscriptable

In [13]:
s += 4,3

TypeError: unsupported operand type(s) for +=: 'set' and 'tuple'

In [14]:
bool(9+8j)

True

In [18]:
#bool gives False when data is 0 or empty
bool(0)
bool()

False

In [1]:
'awesome'.join('jai shree Ram')

'jawesomeaawesomeiawesome awesomesawesomehawesomerawesomeeawesomeeawesome awesomeRawesomeaawesomem'

In [2]:
days=10
s="This will last at most %d days"%(days)
print(s)

This will last at most 10 days

In [3]:
days=20
s=f"This will last at most {days} days"
print(s)

This will last at most 20 days

In [4]:
s="this will last at most {} days"
days =10
s =s.format(days)
print(s)

this will last at most 10 days

In [5]:
s="this will last at most {1} days in {1} and extra {0}"
days =10
extra =5
s= s.format(days, extra)
print(s)

this will last at most 5 days in 5 and extra 10

In [10]:
e=[1,2,3,4]

In [14]:
e.append(50);print(e)
print(e.count(10))
e.extend({4,6,2,3});print(e)
print(e.index(4))
e.insert(e.pop());print(e)
e.remove(6);print(e)
e.reverse();print(e)
e.sort();print(e)

e1=e.copy()
e2=e

SyntaxError: invalid syntax (3934434356.py, line 5)

In [16]:
f=(3,6,2)

In [17]:
#Tuple
print(f)
print(f.index(3))
print(f.count(3))

(3, 6, 2)
0
1

In [19]:
#Dictionary
g={'a':[45,6],'b':[1,6,2]}
print(g)
print(g.key())
print(g.values())
print(g.get('a'))
print(g.pop('b'));print(g)

{'a': [45, 6], 'b': [1, 6, 2]}

AttributeError: 'dict' object has no attribute 'key'

In [28]:
#set functions
h={2,50,5}
print(h)
h.add(50); print(h)
print(h.difference({2,10}))
print(h.pop());print(h)
h.remove(50);print(h)
print(h.union({10,20,30,40}))

{2, 50, 5}
{2, 50, 5}
{50, 5}
2
{50, 5}
{5}
{20, 5, 40, 10, 30}

In [30]:
#Type Conversion
a=10
float(a)

10.0

In [31]:
str(a)

'10'

In [32]:
int('3000')

3000

In [33]:
#int(30.4)
int(float(30.4))

30

In [34]:
eval('45')

45

In [36]:
d='Hello'

In [37]:
list(d)

['H', 'e', 'l', 'l', 'o']

In [38]:
tuple(d)

('H', 'e', 'l', 'l', 'o')

In [39]:
str(e)

'[1, 2, 3, 4, 50, 2, 3, 4, 50, 2, 3, 4]'

In [43]:
dict(b=e)

{'b': [1, 2, 3, 4, 50, 2, 3, 4, 50, 2, 3, 4]}

In [44]:
set(e)

{1, 2, 3, 4, 50}

In [46]:
e1=[5435,56,54,56,56,]
e2=e1

In [47]:
[e1,e2]

[[5435, 56, 54, 56, 56], [5435, 56, 54, 56, 56]]

In [52]:
[*e1,*e2]

[5435, 56, 54, 56, 56, 5435, 56, 54, 56, 56]

In [54]:
g1={'a':4,'b':[5,6]}
g2={'c':34,'a':'hi'}

In [55]:
{**g1,**g2}

{'a': 'hi', 'b': [5, 6], 'c': 34}

In [56]:
g1

{'a': 4, 'b': [5, 6]}

In [57]:
g1.update(g2)

In [58]:
g1

{'a': 'hi', 'b': [5, 6], 'c': 34}

In [59]:
a=30;b=40;c=50
if a>=b and a>=c :
    print(a)
elif b>=a and b>=c:
    print(b)
else:
    print(c)

50

In [61]:
a=30
while a>0:
    print('hell0')
    a-=4

hell0
hell0
hell0
hell0
hell0
hell0
hell0
hell0

In [69]:
a=30
while a>0:
    print('hello')
    a-=7
    if a==16:
        #break
        continue
    print('achha')
else:
    print('oh')

hello
achha
hello
hello
achha
hello
achha
hello
achha
oh

In [74]:
a=[3,5,3,5]
for i in a[::2]:
    print(i,i*10)

3 30
3 30

In [73]:
for i in range(1,10):
    print(i*2)

2
4
6
8
10
12
14
16
18

In [75]:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

In [76]:
#comprihansion
#conditional
#list
#Dict
#Set
#Generator

In [77]:
a=[4,6,4,3,6,7,4,8,4,23]

In [81]:
b=[]
for i in a:
   # b.append(i*2)
   b+=[i*2]

b

[8, 12, 8, 6, 12, 14, 8, 16, 8, 46]

In [82]:
b1 = [i*2 for i in a]
print(b1)

[8, 12, 8, 6, 12, 14, 8, 16, 8, 46]

In [86]:
b2=[i for i in a if i%2 ==1]
print(b2)

[3, 7, 23]

In [87]:
num =36
print('odd') if num%2==1 else print('even')

even

In [89]:
b3 = [f'{i}Odd' if i%2 else f'{i} Even' for i in a]
print(b3)

b33[]

['4 Even', '6 Even', '4 Even', '3Odd', '6 Even', '7Odd', '4 Even', '8 Even', '4 Even', '23Odd']